.gdpr_consent input[type="checkbox"]
{
	opacity: 1 !important; 
	top: 0 !important;
}
.fancybox-skin {
  background: #fff !important; }

.fancybox-skin .fancybox-close {
  width: 28px;
  height: 28px;
  background: none;
  font-size: 28px;
  line-height: 28px;
  color: #333;
  text-align: center;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px; }
  .fancybox-skin .fancybox-close:hover {
    color: #515151; }
  .fancybox-skin .fancybox-close:after {
    content: "\f057";
    font-family: "FontAwesome"; }

#facebook_block,
#cmsinfo_block {
  overflow: hidden;
  background: #f2f2f2;
  min-height: 344px;
  height: 344px;
  padding-right: 29px;
  padding-left: 29px; }
  @media (max-width: 991px) {
    #facebook_block,
    #cmsinfo_block {
      min-height: 354px;
      height: 354px;
      padding-left: 13px;
      padding-right: 13px; } }
  @media (max-width: 767px) {
    #facebook_block,
    #cmsinfo_block {
      width: 100%;
      min-height: 1px; } }

#facebook_block h4 {
  padding: 35px 0 0 0;
  margin: 0 0 12px 0;
  font: 300 21px/25px "Open Sans", sans-serif;
  color: #6f6d6d; }
  @media (max-width: 991px) {
    #facebook_block h4 {
      font-size: 18px; } }
  @media (max-width: 767px) {
    #facebook_block h4 {
      padding-top: 20px !important; } }
  @media (max-width: 768px) {
    #facebook_block h4 {
      font-size: 16px; } }

.icon-facebook-square:before, .icon-facebook-sign:before {
  content: ""; }
.icon-retweet:before {
  content: ""; }
.icon-twitter:before {
  content: ""; }

.icon-facebook-f:before,
.icon-facebook:before {
  content: ""; }
.icon-pinterest:before {
  content: ""; }

.icon-pinterest-square:before, .icon-pinterest-sign:before {
  content: ""; }

.icon-google-plus-square:before, .icon-google-plus-sign:before {
  content: ""; }

.icon-google-plus:before {
  content: ""; }


.cancel, .star {
  overflow: hidden;
  float: left;
  margin: 0 1px 0 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  cursor: pointer; }

.cancel, .cancel a {
  background: url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px !important; }

.cancel a, .star a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: 0 0; }

div.star_on a {
  background-position: 0 -16px; }

div.star_hover a,
div.star a:hover {
  background-position: 0 -32px; }

.star {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-weight: normal; }

.star {
  display: block; }
.star a {
  display: block;
  position: absolute;
  text-indent: -5000px; }

div.star:after {
  font-family: "Glyphicons Halflings";
  content: "";
  display: inline-block;
  color: #999999; }

div.star.star_on {
  display: block; }
div.star.star_on:after {
  font-family: "Glyphicons Halflings";
  content: "";
  display: inline-block;
  color: #60123c; }

div.star.star_hover:after {
  font-family: "Glyphicons Halflings";
  content: "";
  display: inline-block;
  color: #60123c; }


 /**************************** PRODUCT ITEM ****************************/
.new-box,
.sale-box {
   position: absolute;
   top: -4px;
   overflow: hidden;
   height: 85px;
   width: 85px;
   text-align: center;
   z-index: 0; }

.new-box {
  left: -4px; }

.sale-box {
  right: -5px; }

.new-label {
  color: #fff;
  background: #6ad4ff;
  text-transform: uppercase;
  padding: 9px 0 7px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
  width: 130px;
  text-align: center;
  display: block;
  position: absolute;
  left: -33px;
  top: 16px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }
.new-label:before {
  position: absolute;
  bottom: -3px;
  right: 5px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 4px 4px 0px 4px;
  border-color: #21a3d8 transparent transparent transparent;
  content: ".";
  text-indent: -5000px;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg); }
.new-label:after {
  position: absolute;
  bottom: -3px;
  left: 3px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 4px 4px 0px 4px;
  border-color: #21a3d8 transparent transparent transparent;
  content: ".";
  text-indent: -5000px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

.sale-label {
  color: #fff;
  background: #f13340;
  text-transform: uppercase;
  padding: 9px 0 7px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.24);
  width: 130px;
  text-align: center;
  display: block;
  position: absolute;
  right: -33px;
  top: 16px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
.sale-label:before {
  position: absolute;
  bottom: -3px;
  right: 4px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 4px 4px 0px 4px;
  border-color: #ad2b34 transparent transparent transparent;
  content: ".";
  text-indent: -5000px;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg); }
.sale-label:after {
  position: absolute;
  bottom: -3px;
  left: 5px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 4px 4px 0px 4px;
  border-color: #ad2b34 transparent transparent transparent;
  content: ".";
  text-indent: -5000px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }
