.jcarousel-wrapper {
    position: relative;
    max-width: 960px;
    margin-left: -20px;
}


.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 10px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

/*.jcarousel img {*/
    /*display: block;*/
    /*max-width: 100%;*/
    /*height: auto !important;*/
/*}*/



/** Carousel Controls **/

.jcarousel-nav-wrapper {
    position: absolute;
    top: 0;
    right: 50px;
}
.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    display: table;
    top: 0;
    width: 17px;
    height: 28px;
    background-color: transparent;
    text-align: center;
    background-image: url(../images/arrow_prev_next.png);
    background-repeat: no-repeat;
}
.jcarousel-control-prev {
    right: 60px;
}

.jcarousel-control-next {
    right: 0px;
    background-position: -23px 0;
}

.jcarousel-control-prev:hover {
    background-position: -48px 0;
}
.jcarousel-control-next:hover {
    background-position: -71px 0;
}
.jcarousel-control-prev:focus,
.jcarousel-control-next:focus,
.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
    text-decoration: none;
}
/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 15px;
    width: 15px;
    line-height: 15px;

    background: #fff;
    color: #4E443C;
    border-radius: 15px;
    text-indent: -9999px;

    margin-right: 22px;


    background-image: url(../images/slider_bullets.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.jcarousel-pagination li.active a {
    background-position: -37px 0;
}
@media (min-width:  1050px) {
    .jcarousel-wrapper {
        width: 960px;
    }
}
/*@media (max-width:  1050px) {
    .jcarousel-wrapper {
        max-width: 730px;
    }
}*/
@media (max-width:  1040px) {
    .jcarousel-wrapper {
        max-width: 714px;
        margin-right: 0;
    }
}
@media (max-width: 730px) {
    .jcarousel-wrapper {
        max-width: 470px;
    }
}
@media (max-width:  550px) {
    .jcarousel-wrapper {
        max-width: 400px;
    }
    .products_list_wrapper .products_list_item_wrapper {
        max-width: 200px;
    }
    .jcarousel-nav-wrapper {
        right: 0px;
    }
    .jcarousel img {
        width: 100%;
    }
    .products_list_wrapper .products_list_item .btn {
        width: 140px;
        padding: 0 10px;
        font-size: 11px;

    }
}
@media (max-width: 460px) {
    .jcarousel-wrapper {
        max-width: 230px;
    }
}

