.testimonials_list{
    overflow:hidden;
}

.block_testimonials , .content_new_question{ 
	/*border-bottom: 1px solid green;*/
    margin-bottom: 7px;
    border: 1px solid #eee;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
}

.sortPagiBar #testimonialsSortForm , 
.sortPagiBar #testimonialsSearchForm {
    float: right;
}

.content_new_question {
    display: none;
}

.new_question_link{
    cursor: pointer;
    background: #eee;
    color: #666;
    margin: 0 0 10px 0;
    padding: 7px;
}

#testimonialsNewForm textarea {
    resize: none;
}

#testimonialsNewForm textarea,
#testimonialsNewForm .inp,
#selecttestimonialsSearch {
    width: 100%;
	border: 1px solid gray;
	padding: 2px;
}

#selecttestimonialsSearch {
	width: 100px;
}

#testimonialsNewForm td {
    padding: 2px 0px 0px 0px;
}

#testimonials_list ol {
    list-style: decimal inside;
}

#testimonials_list ul {
    list-style: circle inside;
    padding-bottom: 20px;
}

#testimonials_list li.block_testimonials {
    list-style: none;
}

#testimonials_list .testimonials_message {
	word-wrap: break-word;
	overflow: hidden;
}

.belvg_testimonials_err li {
    list-style-position: inside
}

/*#testimonialsNewForm input, 
#testimonialsNewForm select,
#testimonialsNewForm textarea {
    font-size: 18px;
}*/

.testimonials_category_title h4 {
    margin-bottom: 5px;
}

.selecttestimonialsSort {
    border: 1px solid #CCCCCC;
    width: 185px
}

#pagination_previous a, 
#pagination_previous span, 
#pagination_next a, 
#pagination_next span {
    width: auto;
}

#belvg_testimonials li {
	padding: 6px;
	text-align: left;
	font-size: 13px;
	word-wrap: break-word;
	overflow: hidden;
}

#belvg_testimonials p {
	text-align: left;
}

#belvg_testimonials .author {
	padding-top: 5px;
	font-size: 11px;
	text-align: right;
	font-style: oblique;
}

.testimonials_date {
	text-align: right;
}
