/**
 * Simple Password Reset allows customer to retrieve the password in the more convenient way..
 *
 * Simple Password Reset by Vipul Hadiya(http://www.vipulhadiya.com) is licensed under a
 * Creative Creative Commons Attribution-NoDerivatives 4.0 International License.
 * Based on a work at http://www.clavolike.com.
 * Permissions beyond the scope of this license may be available at http://www.vipulhadiya.com.
 * To view a copy of this license, visit http://creativecommons.org/licenses/by-nd/4.0/.
 *
 * @author    Vipul Hadiya <vip@vipulhadiya.com>
 * @copyright 2018 Vipul Hadiya
 * @license   http://creativecommons.org/licenses/by-nd/4.0/
 */

.qp_email#qp_email {
    width: 100%;
    max-width: initial !important;
    height: 40px;
    border: 1px solid #dcdbd3;
}
.clearfix{/*clear:both;*/}
#quickpass{
	padding:10px;
	position: relative;
	border-radius: 4px;
    overflow: hidden;
    max-width:500px;
}
#quickpass .overlay{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.7);
}
#quickpass .overlay img{
	position: absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.forcehide{
	display: none;
}
#qp_passreco{
	/*line-height: 35px;
    padding: 0px 10px;*/
}
#resltmsg{width:100%;    margin-top: 10px;}
.qptext{padding:5px;}
.passbox{
	max-width:400px;
	margin:10px auto;
	padding:15px;
	position: relative;
}
.passbox .overlay{
    z-index: 100;
	width:100%;
	height:100%;
	position: absolute;
	top:0px;
	left:0px;
	background: rgba(0,0,0, 0.8);
}
.passbox .overlay img{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.passbox{box-sizing: border-box;padding:0px 20px;}
.qp-alert{
    
}
@media (max-width:460px){
	#quickpass{padding:0px}
	#quickpass form>div>div{padding:0px}
	#qp_email{margin-bottom: 10px;box-sizing: border-box;height:40px}
	#qp_passreco{width:100%;}
}