<div class="pf_popup_login_tw pf_connect pf_twitter">
    <a href="#" onclick="twitterPopup = window.open('{$callback_url}', '_blank', 'toolbar=yes, scrollbars=yes, resizable=yes, top=100, left=300, width=700, height=600');">{l s='Sign In with Twitter' mod='popupnotification'}</a>
</div>