<!-- {columns=3} -->
<table data-id="{id_product}" class="newsletter-pro-product" style="border: 1px solid #13a6eb; margin-right: 10px; margin-bottom: 10px;">
	<tr>
		<td style="padding: 5px;">
			<table>
				<tbody>
					<tr>
						<td style="text-align: center;"><a href="{link}" target="_blank"><img class="newsletter-pro-image" style="border-style: none;" src="{image_path}" alt="" width="{image_width}" height="{image_height}" /></a></td>
					</tr>
					<tr>
						<td style="text-align: center;"><strong><a class="newsletter-pro-name" style="color: #000000; text-decoration: none; font-size: 15px;" href="{link}" target="_blank">{name}</a></strong></td>
					</tr>
					<tr>
						<td style="text-align: center;"><span class="newsletter-pro-price" style="font-size: 12pt; font-weight: bold;">{price_display}</span></td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
</table>