<!-- {columns=1} -->
<table data-id="{id_product}" class="newsletter-pro-product" style="width: 610px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td rowspan="2" align="left" valign="top" width="124" height="124"><a href="{link}" target="_blank"> <img class="newsletter-pro-image" id="section_image_14" style="display: block;" src="{image_path}" alt="" width="{image_width}" height="{image_height}" border="0" hspace="0" vspace="0" /></a></td>
<td rowspan="2" width="10"> </td>
<td align="left" valign="top">
<table style="width: 260px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="right"><span style="font-size: medium; color: #444d52; font-weight: normal; text-decoration: none; text-transform: uppercase; font-family: Arial, Helvetica, sans-serif;"><strong class="newsletter-pro-name">{name}</strong></span></td>
</tr>
<tr>
<td height="5"> </td>
</tr>
<tr>
<td align="justify" valign="top"><span style="font-size: small; color: #444d52; font-family: Arial, Helvetica, sans-serif;" class="newsletter-pro-description_short">{description_short}</span></td>
</tr>
<tr>
<td height="5"> </td>
</tr>
<tr>
<td height="5"> </td>
</tr>
<tr>
<td height="5"> </td>
</tr>
<tr>
<td style="text-align: center;" height="5"><span style="font-size: medium; color: #444d52; font-weight: normal; text-decoration: none; font-family: Arial, Helvetica, sans-serif;"><span style="font-weight: bold; font-size: 12px;">{manufacturer_name}</span></span></td>
</tr>
<tr>
<td height="5"> </td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td valign="bottom">
<table style="width: 260px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="center" valign="middle" bgcolor="#FF6702" width="100" height="35"><span style="font-size: medium; color: #ffffff; font-weight: normal; text-decoration: none; font-family: Arial, Helvetica, sans-serif;"><span class="reduction" style="font-weight: bold; color: #ffffff; font-size: 12px;">Promo {discount}</span></span></td>
<td align="center" valign="middle" bgcolor="#FFFFFF" width="10"> </td>
<td align="center" valign="middle" bgcolor="#FF0000" width="70"><span style="font-size: medium; color: #ffffff; font-weight: normal; text-decoration: none; font-family: Arial, Helvetica, sans-serif;"><span class="reduction" style="font-weight: bold; color: #ffffff; font-size: 12px;">{price_display}</span></span></td>
<td align="center" valign="middle" bgcolor="#FFFFFF" width="10"> </td>
<td align="center" valign="middle" bgcolor="#FF6702" width="90"><span style="font-size: medium; color: #ffffff; font-weight: normal; text-decoration: none; font-family: Arial, Helvetica, sans-serif;"><a class="view_product" style="font-weight: bold; color: #ffffff; text-decoration: none; font-size: 12px;" href="{link}" target="_blank">View</a></span></td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="border-top: solid 1px #FF6702;"> </td>
<td style="border-top: solid 1px #FF6702;"> </td>
<td style="border-top: solid 1px #FF6702;"> </td>
</tr>
</tbody>
</table>