.window_similitude {
    z-index: 50;
    text-align: center;
    position: absolute;
    top: -15px;
    width: 100%;
}
.single_diff_order {
    width: 100%;
    margin-bottom: 20px!important;
}
.window_similitude .active {
    background-color: #32CD32!important;
}
.my-footer {
    height: 100%!important;
}
.first_order_content {
    border-right: 1px solid #00aff0;
}
.info-similitude {
    border-bottom: 1px solid #00aff0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #00aff0;
}
.save_merge {
    z-index: 89;
    position: absolute;
    bottom: 50px;
    right: 500px;
}
.box_position {
    z-index: 99;
    position: absolute;
    bottom: 30px;
    width: 100%;
}
.overlay {
    position: absolute;
    top: 2px;
    right: 5px;
    bottom: 20px;
    left: 5px;
    background-color: #000;
    opacity: 0.5;
    z-index: 5;
    border-radius: 3px;
}
.merge-layout {
    background-color: #000;
    opacity: 0.5;
    z-index: 110;
    position: absolute;
    border-radius: 3px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.refernce-to-dst-order {
    position: absolute;
    z-index: 120;
    top: 50px;
    text-align: center;
    display: none;
}
#order_merge .table-responsive {
    display: none;
}