{**
* Quantity Discount Pro
*
* NOTICE OF LICENSE
*
* This product is licensed for one customer to use on one installation (test stores and multishop included).
* Site developer has the right to modify this module to suit their needs, but can not redistribute the module in
* whole or in part. Any other use of this module constitues a violation of the user agreement.
*
* DISCLAIMER
*
* NO WARRANTIES OF DATA SAFETY OR MODULE SECURITY
* ARE EXPRESSED OR IMPLIED. USE THIS MODULE IN ACCORDANCE
* WITH YOUR MERCHANT AGREEMENT, KNOWING THAT VIOLATIONS OF
* PCI COMPLIANCY OR A DATA BREACH CAN COST THOUSANDS OF DOLLARS
* IN FINES AND DAMAGE A STORES REPUTATION. USE AT YOUR OWN RISK.
*
*  @author    idnovate.com <info@idnovate.com>
*  @copyright 2017 idnovate.com
*  @license   See above
*}

<div class="alert alert-warning">
	<h4>{l s='DEMO MODE' mod='quantitydiscountpro'}</h4>
	<strong><span>{l s='In Demo mode you can\'t edit rules. If you need to create new examples, please contact us at:' mod='quantitydiscountpro'} <a href="http://addons.prestashop.com/contact-community.php?id_product=9129" target="_blank">http://addons.prestashop.com/contact-community.php?id_product=9129</a></span></strong>
</div>
<div style="clear:both"></div>