/**
*  2013 Zack Hussain
*
*  @author 		Zack Hussain <me@zackhussain.ca>
*  @copyright  	2013 Zack Hussain
*
*  DISCLAIMER
*
*  Do not redistribute without my permission. Feel free to modify the code as needed.
*  Modifying the code may break future PrestaShop updates.
*  Do not remove this comment containing author information and copyright.
*
*/

.moneris_title img { float: none; margin-right: 8px; margin-top: -2px; vertical-align: middle;padding: 0 0 3px 0; }
.moneris_error {display:none; color: red; padding-bottom: 0;}
.block-left { display: inline-block; float: left; margin-right: 20px; }
div.payment_module { padding-bottom: 0; text-transform: none; }
#monerishosted_form {}
#monerishosted_form label { width: 150px; display: inline-block; margin-bottom: 4px; text-transform: none; font-weight: bold; color: #444;}
#monerishosted_form label.lowercase { text-transform: none; }
#monerishosted_form input[type="text"], #monerishosted_form select { text-align: left; border: #aaa solid 1px; margin-bottom: 0; padding: 5px; font-weight: bold; color: #444;}
#monerishosted_form input[type="checkbox"] { margin-bottom: 0; }
#monerishosted_form input.moneris-card-number { width: 210px; }
#monerishosted_form input.moneris-card-cvc {  }
#monerishosted_form a { display: inline; position: relative; }

#monerishosted_form-cc .moneris-submit-button-cc { margin-left: 5px; }
#monerishosted_form-cc a { display: inline; font-size: 11px; text-decoration: underline; }

#moneris-loader { display: none; }
#moneris-loader {}
#moneris-loader .process-message {display: inline-block;padding: 5px 0 0 0;}
#monerishosted_form input, #monerishosted_form select { margin-left: 0; }